.button {
  display: block;
  padding: 22px;
  width: 290px;
  height: 60px;
  font-size: 12px;
  font-weight: 700;
  line-height: 12px;
  text-align: center;
  text-transform: uppercase;
  color: $secondary-color-text;
  text-decoration: none;
  border: 2px solid #ffffff;
}
