.card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 35px;
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    gap: 40px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    gap: 40px;
  }
}

.card__item {
  padding: 50px 42px;
  background-color: $base-background-color;

  &:hover,
  &:focus {
    padding: 43px 35px;
    border: 7px solid;
    border-image: linear-gradient(136deg, #d10a42 0%, #00359f 100%) 10;
  }

  @media (min-width: $tablet-width) {
    width: 380px;
    margin: 0 auto;
    padding: 65px;
  }

  @media (min-width: $desktop-width) {
    width: 360px;
  }
}

.card__title {
  margin-top: 0;
  margin-bottom: 18px;
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 22px;
    font-size: 24px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 17px;
    font-size: 26px;
    line-height: 26px;
  }
}

.card__desc {
  margin-top: 0;
  margin-bottom: 66px;
  font-weight: 300;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 82px;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 78px;
  }
}

.card__price {
  position: relative;
  margin: 0 34px 18px 0;
  font-weight: 700;
  font-size: 48px;
  line-height: 72px;
  text-align: center;
  color: $add-color-text;

  &::after {
    position: absolute;
    content: "";
    width: 24px;
    height: 33px;
    background-image: url("/__spritemap#sprite-rubble_mobile-view");
    background-repeat: no-repeat;
    background-position: center;
    bottom: 20px;
    right: 3px;
  }

  @media (min-width: $tablet-width) {
    margin: 0 44px 22px 0;
    font-size: 60px;
    line-height: 90px;

    &::after {
      width: 30px;
      height: 42px;
      background-image: url("/__spritemap#sprite-rubble_tablet-view");
      bottom: 24px;
      right: -2px;
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 16px;

    &::after {
      bottom: 26px;
      right: -12px;
    }
  }
}

.card__button {
  padding: 25px;
  width: 206px;
  height: 66px;
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
  text-transform: uppercase;
  text-decoration: none;
  border: 2px solid #102654;
  color: $base-color-text;
  cursor: pointer;

  &:hover {
    background: linear-gradient(151deg, #ed0233 0%, #003eb7 100%);
    color: $secondary-color-text;
    border: transparent;
  }

  &:focus {
    background: linear-gradient(151deg, rgba(237, 2, 51, 0.8) 0%, rgba(0, 62, 183, 0.8) 100%);
    color: $secondary-color-text;
    border: 2px solid #000000;
  }

  &:active {
    background: linear-gradient(151deg, #ed0233 0%, #003eb7 100%);
    color: rgba(250, 250, 250, 0.7);
    border: transparent;
  }

  &:disabled {
    background-color: transparent;
    border: 2px solid #102654;
    color: rgba(16, 38, 84, 0.3);
  }


  @media (min-width: $tablet-width) {
    width: 250px;
    height: 66px;
  }

  @media (min-width: $desktop-width) {
    width: 230px;
    height: 66px;
  }
}
