.contacts {
  margin: 36px 0;

  @media (min-width: $tablet-width) {
    margin: 60px 0;
  }
}

.contacts__wrapper {
  position: relative;
  padding: 0 15px 0;

  @media (min-width: $desktop-width) {
    padding: 0 103px 0;
  }
}

.contacts__title {
  margin-top: 0;
  margin-bottom: 37px;
  font-family: $secondary-font;
  font-weight: 600;
  font-size: 32px;
  line-height: 32px;

  @media (min-width: $tablet-width) {
    margin-bottom: 36px;
    font-size: 54px;
    line-height: 54px;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}

.contacts__list {
  display: flex;
  flex-direction: column;
  gap: 28px;

  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 190px 190px;
    column-gap: 60px;
    row-gap: 15px;
    justify-content: center;

    &::after {
      content: "";
      width: 117px;
      height: 2px;
      display: block;
      position: absolute;
      top: 147px;
      left: 326px;
      background-color: #74819c;
      rotate: 90deg;
    }
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 178px 178px;
    justify-content: space-between;

    &::after {
      left: 283px;
    }
  }
}

.contacts__item {
  @media (min-width: $tablet-width) {
    &--time {
      grid-column: 1/2;
    }

    &--phone {
      grid-column: 2/3;
      grid-row: 1/2;
    }
  }
}

.contacts__subtitle {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 5px;
    font-size: 24px;
    line-height: 24px;
  }
}

.contacts__address,
.contacts__desc,
.contacts__tel,
.contacts__email  {
  margin: 0;
  font-weight: 400;
  font-style: normal;
  line-height: 20px;
  text-decoration: none;
  color: $base-color-text;

  @media (min-width: $tablet-width) {
    line-height: 22px;
  }
}

