.features {
  background-color: $secondary-background-color;
}

.features__title {
  font-family: $secondary-font;
  font-weight: 600;
  font-size: 32px;
  line-height: 32px;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 42px;
    line-height: 42px;
  }

  @media (min-width: $desktop-width) {
    font-size: 54px;
    line-height: 54px;
  }
}

.features__number {
  font-weight: 700;
  font-size: 64px;
  line-height: 64px;
  background: linear-gradient(129deg, #d10a42 0%, #0041ca 100%);
  background-clip: text;

  &--current {
    color: $secondary-color-text;
  }

  @media (min-width: $tablet-width) {
    font-size: 70px;
    line-height: 70px;
  }
}

.features__desc {
  font-weight: 400;
  line-height: 20px;
  color: #2e35ac;

  @media (min-width: $tablet-width) {
    line-height: 22px;
  }
}

.features__lead {
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;

  &--current {
    font-size: 22px;
    line-height: 22px;
    color: $secondary-color-text;

    @media (min-width: $tablet-width) {
      font-size: 24px;
      line-height: 24px;
    }

    @media (min-width: $desktop-width) {
      font-size: 26px;
      line-height: 26px;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    font-size: 22px;
    line-height: 22px;
  }
}

.features__text {
  font-weight: 300;

  &--current {
    color: $secondary-color-text;
  }

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }
}

.features__info--current {
  background-color: #1c3374;
}
