.form {
  background-color: #102654;
}

.form__wrapper {
  padding: 70px 15px;

  @media (min-width: $tablet-width) {
    padding: 60px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 59px 103px;
  }
}

.form__title {
  margin-top: 0;
  margin-bottom: 36px;
  font-family: $secondary-font;
  font-weight: 600;
  font-size: 32px;
  line-height: 32px;
  color: $secondary-color-text;


  @media (min-width: $tablet-width) {
    font-size: 54px;
    line-height: 54px;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}

.form__container {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: center;
    gap: 30px;
  }
}

.form__field {
  width: 290px;
  padding: 2px 0 7px;
  color: $secondary-color-text;
  background-color: #102654;
  border: none;
  border-bottom: 2px solid #74819c;

  @media (min-width: $tablet-width) {
    width: 205px;
  }

  @media (min-width: $desktop-width) {
    width: 223px;
  }

  &:hover {
    border-bottom: 2px solid $base-background-color;
  }

  &:focus {
    border: 2px solid $base-background-color;
  }

  &:disabled {
    border: 2px solid $base-background-color;
    opacity: 0.4;
  }
}

.form__button {
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
  text-transform: uppercase;
  color: $secondary-color-text;
  background-color: transparent;

  @media (min-width: $tablet-width) {
    margin: 0 auto;
    width: 440px;
    height: 66px;
  }

  @media (min-width: $desktop-width) {
    width: 477px;
  }
}
