.games {
  padding: 25px 0;

  @media (min-width: $tablet-width) {
    display: flex;
    padding: 60px 0;
    justify-content: center;
  }

  @media (min-width: $desktop-width) {
    padding: 100px 0;
  }
}

.games__container {
  padding: 40px;
  margin: 0 auto;
  width: 290px;
  background-color: $banner_background-color;

  @media (min-width: $tablet-width) {
    margin: 0;
    width: 300px;
    height: 348px;
  }

  @media (min-width: $desktop-width) {
    padding: 60px 80px 98px;
    width: 500px;
    height: 500px;
  }
}

.games__wrapper {
  display: flex;

  @media (min-width: $tablet-width) {
    gap: 20px;
  }

  @media (min-width: $desktop-width) {
    justify-content: space-between;
  }
}

.games__title {
  margin-top: 0;
  margin-bottom: 16px;

  font-family: $secondary-font;
  font-weight: 600;
  font-size: 48px;
  line-height: 54px;
  text-transform: uppercase;
  color: $secondary-color-text;

  @media (min-width: $tablet-width) {
    width: 100px;
    margin-bottom: 36px;
  }

  @media (min-width: $desktop-width) {
    width: 168px;
    margin-bottom: 30px;
    font-size: 82px;
    line-height: 96px;
  }
}

.games__info {
  margin: 0 1px 0 0;
  width: 56px;

  @media (min-width: $tablet-width) {
    width: 100px;
  }

  @media (min-width: $desktop-width) {
    width: 94px;
  }
}

.games__text {
  position: relative;
  margin-bottom: 5px;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  color: $secondary-color-text;

  &::after {
    content: "";
    width: 100%;
    height: 1px;
    display: block;
    position: absolute;
    top: 22px;
    background-color: $base-background-color;

    @media (min-width: $tablet-width) {
      top: 25px;
    }

    @media (min-width: $desktop-width) {
      top: 29px;
    }
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 4px;
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 12px;
  }
}

.games__description {
  margin-left: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  color: $secondary-color-text;

  @media (min-width: $desktop-width) {
    padding-top: 1px;
  }

  &--number {
    margin-right: 4px;
  }

  @media (min-width: $tablet-width) {
    margin-right: 6px;
  }

  @media (min-width: $desktop-width) {
    font-size: 40px;
    line-height: 40px;
  }
}

.games__mini-info {
  display: flex;
  margin-bottom: 5px;

  @media (min-width: $tablet-width) {
    margin-bottom: 10px;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 20px;
  }
}

.games__desc {
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: $secondary-color-text;

  @media (min-width: $tablet-width) {
    width: 37px;
    font-size: 14px;
    line-height: 22px;
  }
}

.games__subtitle {
  width: 171px;
  margin-top: 0;
  margin-bottom: 16px;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  color: $secondary-color-text;

  @media (min-width: $tablet-width) {
    width: 199px;
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    width: 340px;
    margin-bottom: 30px;
  }
}

.games__button {
  width: 210px;
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
  text-transform: uppercase;
  color: $secondary-color-text;

  &:hover {
    background-color: $base-background-color;
    color: $add-color-text;
  }

  &:focus {
    background-color: $base-background-color;
    opacity: 0.8;
    color: $add-color-text;
    border: 2px solid #000000;
  }

  &:active {
    background-color: $base-background-color;
    color: $base-color-text;
  }

  &:disabled {
    background-color: transparent;
    color: $secondary-color-text;
    color: rgba(250, 250, 250, 0.5);
  }

  @media (min-width: $tablet-width) {
    padding: 24px;
    width: 220px;
    height: 66px;
  }

  @media (min-width: $desktop-width) {
    padding: 26px;
    width: 340px;
  }
}

.games__image {
  margin: 0 auto;
}
