.hero {
  padding: 15px 15px 32px;
  background: linear-gradient(to right, #1c3477 0%, #1c3477 0.01%, #1a3578 39.11%, #73184b 75.5%, #b4022a 100%);

  @media (min-width: $tablet-width) {
    padding: 30px 45px 100px;
  }

  @media (min-width: $desktop-width) {
    padding: 30px 103px 120px;
  }
}

.hero__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    margin-left: 38px;
    justify-content: center;
    gap: 56px;
  }
}

.hero__container {
  @media (min-width: $tablet-width) {
    margin-top: 31px;
    min-width: 324px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 50px;
    margin-left: 75px;
    min-width: 385px;
  }
}

.hero__subtitle {
  margin: 0 0 14px;
  font-family: $secondary-font;
  font-weight: 600;
  font-size: 32px;
  line-height: 32px;
  color: $secondary-color-text;
  text-align: right;

  @media (min-width: $tablet-width) {
    margin: 0 0 10px;
    font-size: 42px;
    line-height: 42px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 40px;
    font-size: 54px;
    line-height: 54px;
  }
}

.hero__desc {
  display: flex;
  justify-content: space-between;
}

.hero__description {
  display: flex;
  align-items: flex-end;
  margin: 0 0 48px;
  font-weight: 400;
  line-height: 20px;
  text-align: right;
  color: $secondary-color-text;

  @media (min-width: $tablet-width) {
    padding-top: 5px;
    margin: 0;
    align-items: center;
    line-height: 22px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    margin-bottom: 26px;
    margin-left: 2px;
  }
}

.hero__title {
  width: 156px;
  margin: 0 0 47px;
  font-family: $secondary-font;
  font-weight: 800;
  font-size: 61px;
  line-height: 62px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-align: right;
  color: $secondary-color-text;

  @media (min-width: $tablet-width) {
    width: 185px;
    margin: 0 0 50px;
    font-size: 72px;
    line-height: 85px;
    letter-spacing: 0.03em;
  }

  @media (min-width: $desktop-width) {
    width: 270px;
    margin: 0 0 40px;
    font-size: 92px;
    line-height: 110px;
    letter-spacing: 0.04em;
  }
}

.hero__button {
  &:hover {
    background-color: $base-background-color;
    color: $add-color-text;
  }

  &:focus {
    background-color: $base-background-color;
    opacity: 0.8;
    color: $add-color-text;
    border: 2px solid #000000;
  }

  &:active {
    background-color: $base-background-color;
    color: $base-color-text;
  }

  &:disabled {
    background-color: transparent;
    color: rgba(250, 250, 250, 0.5);
  }

  @media (min-width: $tablet-width) {
    width: 185px;
    height: 56px;
    padding: 20px;
    margin-left: auto;
  }

  @media (min-width: $desktop-width) {
    width: 270px;
    height: 66px;
    padding: 26px;
  }
}

.hero__image {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }

  @media (min-width: $desktop-width) {
    margin-top: -2px;
  }
}
