.juri {
  margin-top: 40px;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    margin-top: 30px;
    margin-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 100px;
    margin-bottom: 100px;
  }
}

.juri__title {
  margin-top: 0;
  margin-bottom: 20px;
  font-family: $secondary-font;
  font-weight: 600;
  font-size: 32px;
  line-height: 32px;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 46px;
    font-size: 54px;
    line-height: 54px;
  }
}

.juri__img {
  display: flex;
  flex-direction: row;
    justify-content: center;
    gap: 40px;
    position: relative;

    @media (min-width: $tablet-width) {
      &::before {
        position: absolute;
        content: "";
        width: 16px;
        height: 32px;
        background-image: url("/__spritemap#sprite-arrow_left-view");
        background-repeat: no-repeat;
        background-position: center;
        bottom:134px;
        left: 5px;

        @media (min-width: $desktop-width) {
          bottom: 138px;
          left: -53px;
        }
      }

      &::after {
        position: absolute;
        content: "";
        width: 16px;
        height: 32px;
        background-image: url("/__spritemap#sprite-arrow_right-view");
        background-repeat: no-repeat;
        background-position: center;
        bottom: 134px;
        right: 5px;

        @media (min-width: $desktop-width) {
          bottom: 138px;
          right: -53px;
        }
      }
    }


}

.juri__image {
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    margin: 0;
  };

  &--two  {
    display: none;

    @media (min-width: $tablet-width){
      display: block;
    }
  }

  &--three  {
    display: none;

    @media (min-width: $desktop-width){
      display: block;
    }
  }

  &--four  {
    display: none;

    @media (min-width: $desktop-width){
      display: block;
    }
  }
}
