.logo-nav {
  display: flex;
  justify-content: space-between;
  padding: 0 0 18px;
  margin-bottom: 48px;

  @media (min-width: $tablet-width) {
    padding: 0 0 30px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 30px;
  }
}

.logo-nav__tel {
  text-decoration: none;
}

.logo-nav__text {
  margin: 0;
  font-weight: 700;
  font-size: 22px;
  color: $secondary-color-text;

  &:hover {
    color: #1c3374;
    opacity: 0.5;
  }

  &:focus {
    color: #1c3374;
  }

  &:active {
    text-decoration: underline;
    color: #102654;
  }

  &:disabled {
    color: rgb(248, 249, 252, 0.5);
  }

  @media (min-width: $tablet-width) {
    font-size: 24px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 2px;
    font-size: 26px;
    line-height: 26px;
  }
}

.logo-nav__image {
  padding-top: 1px;
}
