.offers__title {
  font-family: $secondary-font;
  font-weight: 600;
  font-size: 32px;
  line-height: 32px;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 42px;
    line-height: 42px;
  }

  @media (min-width: $desktop-width) {
    font-size: 54px;
    line-height: 54px;
  }
}

.offers__sale {
  background-color: $banner_background-color;
}

.offers__desc {
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
  color: $secondary-color-text;

  @media (min-width: $tablet-width) {
    font-size: 24px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    font-size: 26px;
    line-height: 26px;
  }
}

.offers_price {
  font-weight: 700;
  font-size: 64px;
  line-height: 64px;
  color: $secondary-color-text;

  @media (min-width: $tablet-width) {
    font-size: 70px;
    line-height: 70px;
  }
}

.offers__text {
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: $secondary-color-text;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 24px;
  }
}

.offers__button {
  font-weight: 700;
  line-height: 14px;
  text-transform: uppercase;
  color: $secondary-color-text;
}

