.offers {
  margin-top: 40px;
  margin-bottom: 40px;


  @media (min-width: $tablet-width) {
    margin-top: 60px;
    margin-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 100px;
    margin-bottom: 100px;
  }
}

.offers__container {
  margin: 0 auto;
}

.offers__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    margin-bottom: 35px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.offers__title {
  margin-top: 0;
  margin-bottom: 40px;
  font-family: $secondary-font;
  font-weight: 600;
  font-size: 32px;
  line-height: 32px;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 35px;
    font-size: 42px;
    line-height: 42px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 70px;
    font-size: 54px;
    line-height: 54px;
  }
}

.offers__content {
  @media (min-width: $desktop-width) {
    display: flex;
    gap: 40px;
  }
}



.offers__button {
  margin: auto;
  padding: 0;
  width: 73px;
  height: 20px;
  font-weight: 700;
  line-height: 14px;
  text-transform: uppercase;
  color: $secondary-color-text;
  border: none;
}

.offers__image {
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.offers__list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    align-self: flex-end;
  }
}

