.offers {
  padding: 40px 0;

  @media (min-width: $tablet-width) {
    padding: 60px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 100px 0;
  }
}

.offers__container {
  margin: 0 auto;
}

.offers__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    margin: 0 auto 35px;
    width: 678px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 0 103px;
    width: 560px;
  }
}

.offers__title {
  margin-top: 0;
  margin-bottom: 40px;
  font-family: $secondary-font;
  font-weight: 600;
  font-size: 32px;
  line-height: 32px;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 35px;
    font-size: 42px;
    line-height: 42px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 70px;
    font-size: 54px;
    line-height: 54px;
  }
}

.offers__content {
  @media (min-width: $desktop-width) {
    display: flex;
    gap: 40px;
  }
}

.offers__button {
  position: relative;
  margin: auto;
  padding: 0;
  width: 73px;
  height: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: $secondary-color-text;
  border: none;

  @media (min-width: $tablet-width) {
    margin: 0;
    text-align: left;
  }

  &::after {
    content: "";
    width: 100%;
    height: 1px;
    display: block;
    position: absolute;
    top: 18px;
    background-color: $base-background-color;
  }

  &:hover {
    color: $secondary-color-text;
    opacity: 0.5;
  }

  &:focus {
    padding: 10px;
    width: 93px;
    height: 34px;
    color: $secondary-color-text;
    border: 1px solid #ffffff;

    &::after {
      display: none;
    }
  }

  &:active {
    color: $secondary-color-text;
  }

  &:disabled {
    color: $secondary-color-text;
    opacity: 0.3;
  }
}

.offers__image {
  margin: 0 auto 40px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.offers__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 290px;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    width: 678px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    flex-direction: column;
    width: 560px;
    align-self: flex-end;
  }
}
