.reviews__container {
  margin: 40px 0;

  @media (min-width: $tablet-width) {
    margin: 60px 0;
  }

  @media (min-width: $desktop-width) {
    margin: 100px 0;
  }
}

.reviews__title {
  margin-top: 0;
  margin-bottom: 40px;
  font-family: $secondary-font;
  font-weight: 600;
  font-size: 32px;
  line-height: 32px;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 35px;
    font-size: 54px;
    line-height: 54px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 75px;
  }
}

.reviews__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 30px 25px;
  width: 240px;
  background-color: #1c3374;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 80px 320px;
    gap: 40px;
    align-items: flex-start;
    width: 500px;
    padding: 40px 30px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 80px 323px;
    gap: 30px;
    width: 560px;
    padding: 60px;

    br {
      display: none;
    }
  }
}

.reviews {
img {
  margin-bottom: 10px;
}

  h3 {
  margin: 0 0 16px;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: $secondary-color-text;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
    font-size: 22px;
    line-height: 22px;
    text-align: left;
  }
}

p {
  margin: 0;
  font-weight: 300;
  color: $secondary-color-text;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    text-align: left;;
  }
}
}
