.site-list {
  display: flex;
  flex-wrap: wrap;
  gap: 36px;
  row-gap: 16px;
  margin: 0 0 30px;
  padding: 0;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    margin-left: 35px;
    gap: 31px;
    width: 463px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 1px;
    margin-left: 169px;
    width: 750px;
    gap: 82px;
  }
}

.site-list__link {
  font-weight: 400;
  line-height: 20px;
  color: $secondary-color-text;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    color: $secondary-color-text;
  }

  &:focus {
    width: 60px;
    height: 32px;
    border: 1px solid #fff;
    color: $secondary-color-text;
  }

  &:active {
    color: $secondary-color-text;
  }

  &:disabled {
    color: rgba (250px, 250px, 250px, 0.4)
  }

  @media (min-width: $tablet-width) {
    line-height: 22px;
  }
}
