.social__list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  position: relative;

  @media (min-width: $tablet-width) {
    gap: 15px;
  }

  @media (min-width: $desktop-width) {
    justify-content: space-between;
    gap: 10px;
    margin-top: 1px;
  }
}

.social__item {
  ::before {
    position: absolute;
    content: "";
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #030A1A;
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: 14px 14px;
  }
}

.social__link {
  display: block;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: $base-background-color;

  &--vkontakte {
    &::before {
    mask-image: url("/__spritemap#sprite-vk-view");
  }
}

  &--ok {
    &::before {
    mask-image: url("/__spritemap#sprite-ok-view");
  }
}

  &--reddit {
    &::before {
    mask-image: url("/__spritemap#sprite-reddit-view");
  }
}

  &:hover {
    background-color: #74819c;
  }

  &:focus {
    background-color: #103aae;
  }

  &:active {
    background-color: #102654;
  }

  &:disabled {
    opacity: 0.3;
  }
}
