@mixin font-face($font-weight, $font-src) {
  @font-face {
    font-family: "AlumniSans";
    font-weight: $font-weight;
    font-style: normal;
    src: $font-src;
    font-display: swap;
  }
}

@mixin font-face($font-weight, $font-src) {
  @font-face {
    font-family: "RobotoCondensed";
    font-weight: $font-weight;
    font-style: normal;
    src: $font-src;
    font-display: swap;
  }
}
