$tablet-width: 768px;
$desktop-width: 1366px;
$primary-font: "RobotoCondensed", sans-serif;
$secondary-font: "AlumniSans", sans-serif;
$font-size: 14px;
$line-height: 22px;
$base-color-text: #102654;
$secondary-color-text: #ffffff;
$add-color-text: #103aae;
$base-background-color: #ffffff;
$secondary-background-color: #f8f9fc;
$banner_background-color: #ed0233;
