$tablet-width: 768px;
$desktop-width: 1366px;

$font-size: 14px;
$line-height: 22px;
$base-color-text: #102654;
$secondary-color-text: #7859cf;
$base-background-color: #f8f9fc;
$secondary-background-color: #ffffff;
